<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Abalone Sex Classification</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Length" placeholder="Length" required="required" />
        <input type="text" name="Diameter" placeholder="Diameter" required="required" />
	<input type="text" name="Height" placeholder="Height" required="required" />
	<input type="text" name="Whole weight" placeholder="Whole weight" required="required" />
	<input type="text" name="Shucked weight" placeholder="Shucked weight" required="required" />
	<input type="text" name="Viscera weight" placeholder="Viscera weight" required="required" />
	<input type="text" name="Shell weight" placeholder="Shell weight" required="required" />
	<input type="text" name="Rings" placeholder="Rings" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Sex Class</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>